{% extends "layout.html" %}{% block body %}
{% include 'navbar.html' %}
<div id="poster" class="w-full lg:w-1/2  relative left-1/2 -translate-x-1/2 p-4 bg-gray-900 shadow-2xl shadow-black border-b-2 border-gray-700">
    <h1 class="text-gray-400">What's going on?</h1>
    <form hx-confirm="Do you wanna post this?" hx-post="/new_post" hx-encoding="multipart/form-data" hx-swap="afterbegin" hx-target="#posts" hx-indicator="#indicator">
        <textarea
            id="post_text"
            type="text"
            name="text"
            placeholder="Speak thy mind"
            class="bg-gray-700 block h-32 w-full rounded-md border-0 p-1.5 text-gray-100 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
        /></textarea>
        <input
            type="file"
            name="image"
            accept="image/*"
            class="mt-2 flex justify-center align-middle text-sm text-white file:mr-4 file:py-2 file:rounded-md file:border-0 file:text-sm 
            file:font-semibold file:bg-gray-400 file:text-black hover:file:bg-violet-100"
        >
        <input
            type="submit"
            value="Submit"
            id="submitPost"
            class="mt-2 text-xl bg-violet-900 w-full text-center rounded-md border-0 py-1.5 text-white shadow-sm ring-1 ring-inset ring-violet-800 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-green-500 sm:text-sm sm:leading-6"
        > 
        <div class="flex justify-center">
          <img id="indicator" class="htmx-indicator absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 size-1" src="../static/img/Spinner.gif" >
        </div>
    </form>
</div>
<div id="posts" class="flex flex-col absolute left-1/2 -translate-x-1/2 w-full lg:w-1/2 min-h-screen bg-gray-900 shadow-2xl shadow-black overflow-hidden">
  {% include "posts.html" %}
</div>
{% include "modal.html" %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
  document.title = "INTO THE KFTR5VERSE | KFTR5";
  let metaDesc = document.createElement('meta');
  metaDesc.name = 'description';
  metaDesc.content = "SPEAK THY MIND";
  let head = document.head;
  head.appendChild(metaDesc);

  $(document).ready(function () {
    $("#submitPost").click(function (event) {
      let text = $("#post_text").val();
      if (text.trim() === "") {
        alert("Please enter some text");
        event.preventDefault();
      }
    })
    $("#")
  })
</script>
{% endblock %}
