{% extends "layout.html" %}{% block body %}
{% include 'navbar.html' %}
<div id="poster"
  class="w-full lg:w-1/2  relative left-1/2 -translate-x-1/2 p-4 bg-gray-900 shadow-2xl shadow-black border-b-2 border-gray-700">
  <h1 class="text-gray-400">What's going on?</h1>
  <form enctype="multipart/form-data" action="/new_post" method="post">
    <div class="mt-2">
      <textarea id="post_text" type="text" name="text" placeholder="Speak thy mind"
        class="bg-gray-700 block h-32 w-full rounded-md border-0 p-1.5 text-gray-100 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" /></textarea>
    </div>
    <div class="mt-2"></div>
    <div class="mt-2 flex justify-center align-middle">
      <input type="file" src="../static/img/default_profile_picture.png" name="image" accept="image/*"
        title="Upload profile picture" class="text-sm text-white file:mr-4 file:py-2 file:rounded-md file:border-0 file:text-sm 
        file:font-semibold file:bg-gray-400 file:text-black hover:file:bg-violet-100">
    </div>
    <div class="mt-2 flex justify-center">
      <input type="submit" value="Submit" id="submitPost"
        class="text-xl bg-violet-900 w-full text-center rounded-md border-0 py-1.5 text-white shadow-sm ring-1 ring-inset ring-violet-800 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-green-500 sm:text-sm sm:leading-6" />
    </div>
  </form>
</div>
<div id="posts"
  class="flex flex-col absolute left-1/2 -translate-x-1/2 w-full lg:w-1/2 min-h-screen bg-gray-900 shadow-2xl shadow-black overflow-hidden">
  {% for post, user in posts %}
  <div class="flex flex-col align-middle border-b-2 border-gray-700 p-1 duration-75 ease-in">
    <div>
      <form class="flex" action="/{{user.username}}" method="post">
        <input name="id" hidden="true" value="{{user.user_id}}">
        <button type="submit">
          <img src="data:image/png;base64,{{ user.profile_picture.decode('utf-8') }}"
            class="rounded-full max-h-10 hover:border-4 hover:border-violet-600 duration-75 ease-in">
        </button>
        <button type="submit"
          class="text-xl text-blue-300 mx-4 hover:text-purple-400 border-b-2 border-gray-900 hover:border-purple-400 duration-75 ease-in">{{user.username}}</button>
      </form>
    </div>
    <p class="p-2 text-xl">{{post.text}}</p>
    {% if post.image != None %}
    <div class="bg-black rounded-md mt-6 p-2">
      <img src="data:image/png;base64,{{ post.image.decode('utf-8') }}"
        class="max-h-96 max-w-96 relative left-1/2 -translate-x-1/2 border-2 border-black">
    </div>
    {% endif %}
  </div>
  {% endfor %}
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
  document.title = "INTO THE KFTR5VERSE | KFTR5";
  let metaDesc = document.createElement('meta');
  metaDesc.name = 'description';
  metaDesc.content = "SPEAK THY MIND";
  let head = document.head;
  head.appendChild(metaDesc);

  $(document).ready(function () {
    $("#submitPost").click(function (event) {
      let text = $("#post_text").val();
      if (text.trim() === "") {
        alert("Please enter some text");
        event.preventDefault();
      }
    })
  })
</script>
{% endblock %}