{% extends "layout.html" %}{% block body %}
<div id="navbar"
  class="flex pt-2 bg-gray-950 align-middle text-3xl justify-evenly shadow-2xl shadow-black border-b-2 border-black">
  <div>
    <form action="/" method="get"></form>
    <button>
      <img src="../static/img/logo_sm.webp"
        class="h-16 p-1 rounded-full hover:border-4 hover:border-violet-600  duration-75 ease-in">
    </button>
    </form>
  </div>
  <div>
    <form action="/" method="get"
      class="py-4 hover:border-b-4 hover:border-violet-600 hover:text-violet-600 duration-75 ease-in">
      <button type="submit"><i class="fa-solid fa-house"></i></button>
    </form>
  </div>
  <div>
    <form action="/ownprofile" method="post"
      class="py-4 hover:border-b-4 hover:border-violet-600 hover:text-violet-600 duration-75 ease-in">
      <button type="submit"><i class="fa-solid fa-user"></i></button>
    </form>
  </div>
  <div>
    <form action="/" method="post"
      class="py-4 hover:border-b-4 hover:border-violet-600 hover:text-violet-600 duration-75 ease-in">
      <button type="submit"><i class="fa-solid fa-right-from-bracket"></i></button>
    </form>
  </div>
</div>
<script src="https://kit.fontawesome.com/b4cb8a876e.js" crossorigin="anonymous"></script>
{% endblock %}