<!-- This is the page for more info about a post, with  the post it responds as well 
as the responding posts.  -->
{% extends "layout.html" %}{% block body %}
{% include 'navbar.html' %}
<div id="posts" class="flex flex-col absolute left-1/2 -translate-x-1/2 w-full lg:w-1/2 min-h-screen bg-gray-900 shadow-2xl shadow-black overflow-hidden">
  {% if replied != None  %}
    {% with post=replied[0], user=replied[1] %}
      <div class="p-2 [&>*]:[&>*]:[&>*]:text-base [&>*]:[&>*]:text-base [&>*]:rounded-md [&>*]:border-2">
        {% include 'post.html' %}
      </div>
    {% endwith %}
  {% endif %}
    {% with post=post[0], user=post[1] %}
      <div class="border-t-2 border-gray-700">
        {% include "post.html" %}
      </div>
    {% endwith %}
  {% include "modal.html" %}
  {% if posts != None %}
      <div class="p-2 [&>*]:[&>*]:[&>*]:text-base [&>*]:[&>*]:text-base [&>*]:rounded-md [&>*]:border-2 [&>*]:m-2 posts" id="posts">
        {% include "posts.html" %}
      </div>
  {% endif %}
</div>
<script src="../static/js/functions.js"></script>
<script>
  document.title = "INTO THE KFTR5VERSE | KFTR5";

  let metaDesc = document.createElement('meta');
  metaDesc.name = 'description';
  metaDesc.content = "SPEAK THY MIND";

  let head = document.head;
  head.appendChild(metaDesc);

  document.addEventListener("DOMContentLoaded", function () {
    activateModal();

    document.getElementById("submitPost").addEventListener("click", function (event) {
      let text = document.getElementById("post_text").value;
      if (text.trim() === "") {
        alert("Please enter some text");
        event.preventDefault();
      }
    });

  });
  document.addEventListener('htmx:afterSwap', () => {
    window.location.reload();
  });
  
</script>
{% endblock %}
