{% for post, user in posts %}
  {% include "post.html"%}
{% endfor %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
  $(document).ready(() => {

    $(".comment").click((event) => {
      let answered_post = $(event.target).closest("button").val();
      $("#answered-post-id").val(answered_post);
      let modal = $("#modal");
      if (modal.hasClass("hidden")) {
        modal.removeClass("hidden");
      } else {
        modal.addClass("hidden");
      }
    })
  });
</script>
