{% extends "layout.html" %}{% block body %}
{% include 'navbar.html' %}
<div id="user_posts"
  class="flex flex-col absolute left-1/2 -translate-x-1/2 w-full lg:w-1/2  min-h-screen bg-gray-900 shadow-2xl shadow-black">
  <div class="flex lg:flex-row flex-col align-middle justify-between border-b-2 border-gray-700 p-5">
    <img class=" max-h-24 max-w-24 rounded-full border-2 border-purple-800"
      src="data:image/png;base64,{{ user.profile_picture.decode('utf-8') }}" alt="user_profile_picture">
    <p class="py-10 text-2xl">{{ user.username}}</p>
    <p class="py-10 text-2xl text-gray-500">{{ user.email}}</p>
  </div>
  {% for post, user in posts %}
  <div class="flex flex-col align-middle border-b-2 border-gray-700 p-1 hover:p-4 duration-75 ease-in">
    <div>
      <form class="flex" action="/profile" method="post">
        <input name="id" hidden="true" value="{{user.user_id}}">
        <button type="submit">
          <img src="data:image/png;base64,{{ user.profile_picture.decode('utf-8') }}"
            class="rounded-full max-h-10 hover:border-4 hover:border-violet-600 hover:p-1 duration-75 ease-in">
        </button>
        <button type="submit"
          class="text-xl text-blue-300 mx-4 hover:text-purple-400 border-b-2 border-gray-900 hover:border-purple-400 duration-75 ease-in">{{user.username}}</button>
      </form>
    </div>
    <p class="p-2 text-xl">{{post.text}}</p>
    {% if post.image != None %}
    <div class="bg-black rounded-md mt-6 p-2">
      <img src="data:image/png;base64,{{ post.image.decode('utf-8') }}"
        class="max-h-96 max-w-96 relative left-1/2 -translate-x-1/2 border-2 border-black">
    </div>
    {% endif %}
  </div>
  {% endfor %}
</div>
<script>
  document.title = "INTO THE KFTR5VERSE | KFTR5";
  let metaDesc = document.createElement('meta');
  metaDesc.name = 'description';
  metaDesc.content = "INTO THE KFTR5VERSE: {{ user.username }}";
  let head = document.head;
  head.appendChild(metaDesc);
</script>
{% endblock %}