{% extends "layout.html" %}{% block body %} {% include 'navbar.html' %}
<div
  id="user_posts"
  class="flex flex-col absolute left-1/2 -translate-x-1/2 w-full lg:w-1/2 min-h-screen bg-gray-900 shadow-2xl shadow-black"
>
  <div
    class="flex lg:flex-row flex-col align-middle justify-between border-b-2 border-gray-700 p-5"
  >
    <img
      class="max-h-24 max-w-24 rounded-full border-2 border-purple-800"
      src="data:image/png;base64,{{ user.profile_picture.decode('utf-8') }}"
      alt="user_profile_picture"
    />
    <p class="py-10 text-2xl">{{ user.username}}</p>
    <p class="py-10 text-2xl text-gray-500">{{ user.email}}</p>
    {% if not ownprofile %}
    <form action="/follow/{{user.username}}" method="post">
      <button
        class="my-10 text-2xl ease-in duration-75 border-2 hover:text-violet-600 hover:border-violet-600"
        type="submit"
      >
        {% if followed %}
        <i class="fa-solid fa-user-minus"></i>
        {% else %}
        <i class="fa-solid fa-user-plus"></i>
        {% endif %}
      </button>
    </form>
    {% else %}
    <form action="/edit/{{user.username}}" method="post">
      <button
        class="my-10 text-2xl ease-in duration-75 border-transparent border-b-4 hover:text-violet-600 hover:border-violet-600"
        type="submit"
      >
        <i class="fa-solid fa-user-pen"></i>
      </button>
    </form>
    {% endif %}
  </div>
  {% include "posts.html" %}
</div>
<div
  id="edit"
  class="absolute backdrop:blur-xl left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 bg-gray-900 w-1/4 h-1/2"
>
  <form
    action="/login"
    method="post"
    class="text-black flex min-h-full flex-col justify-center content-center p-2 shadow-2xl shadow-black"
  >
    <p class="p-4 text-white text-2xl">Change your information</p>
    <p class="px-4 text-white">Username</p>
    <input class="m-4" type="text" name="username" value="" />
    <p class="px-4 text-white">Email</p>
    <input class="m-4" type="text" name="email" value="" />
    <p class="px-4 text-white">Website</p>
    <input class="m-4" type="text" name="website" value="" />
    <p class="px-4 text-white">Bio</p>
    <textarea class="m-4" rows="" cols=""></textarea>
    <p class="px-4 text-white">Profile picture</p>
    <p class="p-4 text-red-700">Leave blank to keep your image</p>
    <img
      src="data:image/png;base64,{{ user.profile_picture.decode('utf-8') }}"
      class="w-40 rounded-full m-4"
    />
    <label
      for="image-input"
      class="text-xl bg-violet-900 w-full text-center rounded-md border-0 py-1.5 text-white shadow-sm ring-1 ring-inset ring-violet-800 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-green-500 sm:text-sm sm:leading-6"
      >Upload image</label
    >
    <div class="m-4 flex justify-center align-middle">
      <input
        id="image-input"
        type="file"
        name="image"
        accept="image/*"
        title="Upload profile picture"
        class="hidden"
      />
    </div>
    <input
      type="submit"
      value="Submit"
      class="text-xl bg-violet-900 w-full text-center rounded-md border-0 py-1.5 text-white shadow-sm ring-1 ring-inset ring-violet-800 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-green-500 sm:text-sm sm:leading-6"
    />
  </form>
</div>
<script>
  document.title = "INTO THE KFTR5VERSE | KFTR5";
  let metaDesc = document.createElement("meta");
  metaDesc.name = "description";
  metaDesc.content = "INTO THE KFTR5VERSE: {{ user.username }}";
  let head = document.head;
  head.appendChild(metaDesc);
</script>
{% endblock %}
