{% extends "layout.html" %}{% block body %}

<h1>Register</h1>
<p>What's up?</p>
<form action="/register" method="post" class="text-black">
    <input type="text" name="username" placeholder="username" autocomplete="off">
    <input type="email" name="email" placeholder="email" autocomplete="off">
    <input type="password" name="password" placeholder="password" autocomplete="off">
    <input type="text" name="username" placeholder="username" autocomplete="off">
    <select id="country" name="country"></select>
    <input type="submit" value="Submit">
</form>
<script>
    fetch('https://restcountries.com/v2/all').then(response => response.json())
    .then(data => {
        const countryDropdown = document.getElementById('country')
        data.forEach(country => {
            const option = document.createElement('option');
            option.value = country.name.toLowerCase();
            option.text = country.name;
            countryDropdown.add(option);
        });
    }).catch(error =>(console.error('Error fetching countries:', error)));
</script>
{% endblock %}