{% extends "layout.html" %}{% block body %}

<h1>Register</h1>
<p>{{ message }}</p>
<form action="/register" method="post" class="text-black" enctype="multipart/form-data">
    <input type="text" name="username" placeholder="username">
    <input type="email" name="email" placeholder="email">
    <input type="password" name="password" placeholder="password">
    <select id="country" name="country">
        {% for country in countries %}
        <option value="{{country}}"" text="{{country}}"">{{country}}
        </option>
        {% endfor %}
    </select>
    <input type="file" name="image" accept="image/*">
    <input type="submit" value="Submit">
</form>
<script>
    /* ? Old fetching, best to get it in server.
    fetch('https://restcountries.com/v2/all').then(response => response.json())
    .then(data => {
        const countryDropdown = document.getElementById('country')
        data.forEach(country => {
            const option = document.createElement('option');
            option.value = country.name.toLowerCase();
            option.text = country.name;
            countryDropdown.add(option);
        });
    }).catch(error =>(console.error('Error fetching countries:', error)));
    */
</script>
{% endblock %}